<a href="https://colab.research.google.com/github/PabloOsorio/Tarea5/blob/main/Tarea5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
archivo = open('junio.dat','rt', encoding='latin-1')
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [2]:
class Trabajador:
  def __init__( self, nt, nom, pat, mat, he, sb, ai ): 
    self.__numero_trabajador = nt #Asi sucesivamente para todos los atributos
    self.__nombres = nom 
    self.__apellido_paterno = pat
    self.__apellido_materno = mat
    self.__horas_extras = he
    self.__sueldo_base= sb
    self.__anio_de_ingreso = ai
  #Aqui los metodos de acceso get y set etc..
  def set_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt #Asi con todos 

  def get_numero_trabajador( self ):
    return self.__numero_trabajador

  def set_nombres(self , nom):
    self.__nombres = nom 
  def get_nombres( self ):
    return self.__nombres

  def set_apellido_paterno(self, pat):
    self.__apellido_paterno = pat 
  def get_apellido_paterno ( self ):
    return self.__apellido_paterno

  def set_apellido_materno(self, mat):
    self.__apellido_materno = mat 
  def get_apellido_materno( self ):
    return self.__apellido_materno

  def set_horas_extras(self, he):
    self.__horas_extras = he 
  def get_horas_extras( self ):
    return self.__horas_extras

  def set_sueldo_base( self, sb):
    self.__sueldo_base = sb
  def get_sueldo_base( self ):
    return self.__sueldo_base

  def set_anio_de_ingreso ( self, ai):
    self.__anio_de_ingreso = ai 
  def get_anio_de_ingreso ( self ): #No envia nada por eso no se pone otro valor al lado de self 
    return self.__anio_de_ingreso
  
  #Metodos de uso general
  def calcular_sueldo_mensual(self):
    anios = 2021 - self.get_anio_de_ingreso()

    sueldo = self.get_sueldo_base() #Ahora agregar las horas extras

    sueldo += self.get_horas_extras() * 276.5
  
  #Agregar prestaciones por antiguedad
    sueldo = sueldo + (sueldo * anios * 0.03)
    return sueldo
  def to_string ( self ):
    return "Nombre: " + self.__nombres + " Sueldo Mensual: $" + str(self.calcular_sueldo_mensual())
  def calcular_antiguedad(self):
    return 2021 - self.get_anio_de_ingreso()

emp = Trabajador(5754,'ANGEL','GOMEZ','GARRIDO',1,9850,2020)
print(emp.get_numero_trabajador())
print(emp.get_nombres())
print(emp.get_apellido_paterno())
print(emp.get_apellido_materno())
print(emp.get_horas_extras())
print(emp.get_sueldo_base())
print(emp.get_anio_de_ingreso())
print(emp.calcular_antiguedad())
print(emp.to_string())

5754
ANGEL
GOMEZ
GARRIDO
1
9850
2020
1
Nombre: ANGEL Sueldo Mensual: $10430.295

In [6]:
class Array:
    def __init__( self , tam ):
        self.__tamanio = tam
        self.__data = [6 for x in range(self.__tamanio)]
    
    def to_string( self ) :
        info = ""
        for dato in self.__data:
            info = info + str(dato) + "|"
        return info

    def get_item( self , index ):
        return self.__data[index]

    def get_length( self ):
        return len ( self.__data )
    
    def set_item( self , dato , index):
        #Hace falta revisar los limites
        if index >= 0 and index < self.get_length():
            self.__data[index] = dato
        else:
            print("Error: indice fuera de rango")
    def clear ( self , dato ):
        self.__data = [ dato for x in range(self.__tamanio) ]

In [15]:
class NominaADT:
  def __init__(self, ruta_archivo):
    #Procedemos a abrir el archivo y darle esta vlor a alguna variable 
    archivo = open( ruta_archivo ,'rt', encoding='latin-1' )
    empleados = archivo.readlines()
    print(empleados)
    print(".-.-.-.-..-.-.-.-.")
    del empleados [0]
    print(empleados)
    for index in range(len(empleados)):
      empleados[index] = empleados[index].strip().split(',')#split te los agrupa y separa con el valor que indiques 
      #Strip siver para eliminar espacios saltos de renglon etc...
    print(".-.-.-.--.-.-.-.-.--")
    print(empleados)
    print(".-.-.------.--.-.-..-.-.-.-.-.")
    for emp in empleados:
      print(emp)
    
    #Siguen los calculos
    self.__data=Array(len(empleados))#En este caso len sera 14 pero puede varear
    cont = 0
    for x in empleados:
      x = Trabajador( int(x[0]), x[1], x[2], x[3], int(x[4]), int(x[5]), int(x[6]) )
      self.__data.set_item( x, cont)
      cont += 1
      print(".-..-.--.")
      print(x)

  def calcular_sueldos ( self ):
      for index in range(self.__data.get_length()):
        print(self.__data.get_item(index).to_string())

  #def mas_antiguo(self):


  #def menos_antiguo(self):

try1 = NominaADT('junio.dat')
try1.calcular_sueldos()

['numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso\n', '2345,CARLOS,PEREZ,CASTILLO,0,9850,2017\n', '5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020\n', '5345,JESUS,MARTIN,SANTOS,2,9850,2016\n', '3267,DAVID,JIMENEZ,LOZANO,2,9850,2017\n', '8765,PEDRO,RUIZ,GUERRERO,2,9850,2017\n', '5454,DANIEL,HERNANDEZ,CANO,3,9850,2018\n', '3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018\n', '3445,MARIA,MORENO,MENDEZ,1,9850,2018\n', '9088,ALBERTO,MU\x84OZ,CRUZ,1,9850,2017\n', '8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017\n', '6767,FERNANDO,ROMERO,HERRERA,4,9850,2019\n', '5654,PABLO,ALONSO,GALLEGO,1,9850,2019\n', '4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020\n', '2232,RAMON,NAVARRO,LEON,1,9850,2016']
.-.-.-.-..-.-.-.-.
['2345,CARLOS,PEREZ,CASTILLO,0,9850,2017\n', '5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020\n', '5345,JESUS,MARTIN,SANTOS,2,9850,2016\n', '3267,DAVID,JIMENEZ,LOZANO,2,9850,2017\n', '8765,PEDRO,RUIZ,GUERRERO,2,9850,2017\n', '5454,DANIEL,HERNANDEZ,CANO,3,9850,2018\n', '3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018\n', '3445,MARIA,MORENO,MENDEZ,1,9850,2018\n', '9088,ALBERTO,MU\x84OZ,CRUZ,1,9850,2017\n', '8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017\n', '6767,FERNANDO,ROMERO,HERRERA,4,9850,2019\n', '5654,PABLO,ALONSO,GALLEGO,1,9850,2019\n', '4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020\n', '2232,RAMON,NAVARRO,LEON,1,9850,2016']
.-.-.-.--.-.-.-.-.--
[['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017'], ['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020'], ['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016'], ['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017'], ['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017'], ['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018'], ['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018'], ['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018'], ['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017'], ['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017'], ['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019'], ['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019'], ['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020'], ['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']]
.-.-.------.--.-.-..-.-.-.-.-.
['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017']
['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020']
['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016']
['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017']
['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017']
['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018']
['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018']
['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018']
['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017']
['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017']
['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019']
['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019']
['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020']
['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']
.-..-.--.
<__main__.Trabajador object at 0x7f390c0c42d0>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0c4cd0>
.-..-.--.
<__main__.Trabajador object at 0x7f390fc82650>
.-..-.--.
<__main__.Trabajador object at 0x7f390c166450>
.-..-.--.
<__main__.Trabajador object at 0x7f390c1c6b10>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0b2450>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0b21d0>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0b2b90>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0b2ed0>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0c4b90>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0c4710>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0c44d0>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0c4c10>
.-..-.--.
<__main__.Trabajador object at 0x7f390c0b86d0>
Nombre: CARLOS Sueldo Mensual: $11032.0
Nombre: ANGEL Sueldo Mensual: $10430.295
Nombre: JESUS Sueldo Mensual: $11963.45
Nombre: DAVID Sueldo Mensual: $11651.36
Nombre: PEDRO Sueldo Mensual: $11651.36
Nombre: DANIEL Sueldo Mensual: $11640.655
Nombre: ALEJANDRO Sueldo Mensual: $11339.27
Nombre: MARIA Sueldo Mensual: $11037.885
Nombre: ALBERTO Sueldo Mensual: $11341.68
Nombre: RAFAEL Sueldo Mensual: $11651.36
Nombre: FERNANDO Sueldo Mensual: $11613.36
Nombre: PABLO Sueldo Mensual: $10734.09
Nombre: JORGE Sueldo Mensual: $10715.09
Nombre: RAMON Sueldo Mensual: $11645.475